.pictures {
  float: right;
  width: 400px;
}

.pictures img {
  width:200px;
  border: 2px solid black;
}

img {
  border: 5px solid hotpink;
}

#main{
  color:red;
}

#header{
  background-color: pink;
}

#navbar{
  background-color: purple;
}

#navbar a{
  color: paleturquoise;
  font-size: 2em;
}